<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Details">

  <ion-content>
      <form ng-submit="saveOrUpdate(sales)">
      <div class="spacer" style="height: 40px;"></div>

        <div class="row item item-input">
            <div class="col"><span class="input-label">SalesId</span></div>
            <div class="col"> <input type="number" placeholder="" ng-model="sales.rid" class="form-control" readonly="readonly" ></div>
        </div>
        <div class="row item item-input">
            <div class="col"><span class="input-label">Product Name</span></div>
            <div class="col"><input type="text" placeholder="" ng-model="sales.productName" class="form-control"></div>
        </div>
        <div class="row item item-input">
            <div class="col"><span class="input-label">Year Of Prod</span></div>
            <div class="col"><input type="number" placeholder="" ng-model="sales.yearOfProd" class="form-control"></div>
        </div>
        
        <div class="row item item-input">
            <div class="col"><span class="input-label">Quantity</span></div>
            <div class="col"><input type="number" placeholder="" ng-model="sales.quantity" class="form-control"></div>
        </div>
        <div class="row item item-input">
            <div class="col"><span class="input-label">Pre-Booking Detail</span></div>
            <div class="col"><input type="text" placeholder="" ng-model="sales.preBookingDetail" class="form-control"></div>
        </div>
        <div class="row item item-input">
            <div class="col"><span class="input-label">Delivery Detail</span></div>
            <div class="col"><input type="text" placeholder="" ng-model="sales.deliveryDetail" class="form-control"></div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <button class="button button-calm button-block">{{ sales.rid!=null ? 'Update' : 'Save' }}</button>
      </form>
  </ion-content>
</ion-view>
