<ion-view view-title="Finance">
   <ion-nav-buttons side="right">
  <a href="#/tab/finance/" class="button button-clear  icon ion-android-add-circle"></a>
    </ion-nav-buttons>
         
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="finance in finances" type="item-text-wrap" href="#/tab/finance/{{finance.rid}}">
        <h2>{{finance.projectName}}</h2>
        <p>{{finance.budget}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(finance)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
