<ion-view view-title="Search">
  <ion-content>
	    <form>
	        <label class="item item-input">
	            <span class="input-label">Date</span>
	            <input type="date" placeholder="">
	        </label>
	    </form>
	    <form>
	        <label class="item item-input">
	            <span class="input-label">Department</span>
	            <input type="text" placeholder="">
	        </label>
	        <label class="item item-input">
	            <span class="input-label">Salary</span>
	            <input type="number" placeholder="">
	        </label>
	        <label class="item item-input">
	            <span class="input-label">Title</span>
	            <input type="text" placeholder="">
	        </label>
	        <label class="item item-input">
	            <span class="input-label">Manager</span>
	            <input type="text" placeholder="">
	        </label>
	        <div class="spacer" style="height: 100px;"></div>
	    </form>
	</ion-content>
</ion-view>
