/* Empty. Add your own CSS if you like */
.popup-head
{
  background-color:#11c1f3;

}

.popup-title
{
  color: white;
  font-size: 20px;
}

.popup-body
{
  color: black;
  text-align: center;
}

.popup-buttons .button
{
  border: 0px;
  background-color:#11c1f3;
  font-size: 15px;
}


.popup-buttons .button.activated
{
  background-color:#11c1f7;
}